---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white text-5xl font-bold justify-center flex-row"><div class="flex justify-center">Hola, soy Leon Vallejos <Badge>Disponible para trabajar</Badge></div></h1>
		<h2>Estudiante de Ingenieria Informatica UBA. Full Stack Developer de Buenos Aires, Argentina &#127462;&#127479;</h2>
		<ul></ul>
	</section>
	</main>
</Layout>